@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap");

body {
  font-family: "Baloo Tamma 2", cursive !important;
  background: rgba(195, 248, 255, 0.664) !important;
}
.welcome {
  margin-top: 6%;
  margin-bottom: 6% !important;
  margin-right: 0.5%;
  margin-left: 0.5%;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.message {
  font-size: 12px;
  text-align: center;
}
.btn {
  text-transform: none !important;
}

.submit_btn {
  border-radius: 5px !important;
  margin-left: 0% !important;
  margin-right: 0% !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.title {
  text-align: center;
}
.symptoms {
  max-width: 20%;
}
.smpt_btn {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .smpt_btn {
    width: 100%;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}
@media only screen and (max-width: 350px) {
  .smpt_btn {
    font-size: 8px !important;
  }
}
