@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
body {
  font-family: 'Quicksand', sans-serif!important;
  background: rgba(195, 248, 255, 0.664) !important;
}
.title {
  font-family: 'Comfortaa', cursive!important;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background:#ffdca9;
  border-radius: 5px;
  
  

}

.logo{
  height: 50px!important;
}
.navbar-brand{
  padding:0px!important;
  margin-right:2rem!important;
}
.front_title{
  font-family: 'Comfortaa', cursive!important;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.welcome {
  margin: 1%;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.jumbotron {
  margin-bottom: 1% !important;
}
.front_page {
  padding-top: 6.5% !important;
  padding-bottom: 6.5% !important;
}
.message {
  font-size: 12px;
  text-align: center;
}
.btn {
  text-transform: none !important;
}

.submit_btn {
  border-radius: 5px !important;
  margin-left: 0% !important;
  margin-right: 0% !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.help hr{
  margin:3px!important;
}

.symptoms {
  max-width: 20%;
}
.smpt_btn {
  max-width: 20% !important;
}
@media only screen and (max-width: 767px) {
  .smpt_btn {
    max-width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}
@media only screen and (max-width: 350px) {
  .smpt_btn {
    font-size: 8px !important;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ab934;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ca2222;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
