@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap");

body {
  font-family: "Baloo Tamma 2", cursive !important;
  background: rgba(195, 248, 255, 0.664) !important;
}
.welcome {
  margin-top: 6%;
  margin-bottom: 6% !important;
  margin-right: 0.5%;
  margin-left: 0.5%;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.message {
  font-size: 12px;
  text-align: center;
}
