<!-- Footer -->
<footer class="page-footer font-small blue-gradient">
  <!-- Copyright -->
  <div
    class="footer-copyright text-center py-3"
    style="
      padding-left: 10%;
      padding-right: 10%;
      text-align: justify;
      font-size: 12px;
    "
  >
    <i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;“This COVID-19 Self
    Assessment System is only for software development purpose and may not yield
    actual result. Any information given by users of this system will not be
    disclosed or store to anywhere.”
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
